<div class="row">
  <div class="col-lg-10 offset-lg-2">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label class="title">Find a colleague</label>
    <input type="text" placeholder="First Name">
    <input type="text" placeholder="Fast Name">
    <input class="button" type="button" value="Search">
    <div class="title directory">
      LinkedIn member directory :
      <a href="">A</a>
      <a href="">B</a>
      <a href="">C</a>
      <a href="">D</a>
      <a href="">E</a>
      <a href="">F</a>
      <a href="">G</a>
      <a href="">H</a>
      <a href="">I</a>
      <a href="">J</a>
      <a href="">K</a>
      <a href="">L</a>
      <a href="">M</a>
      <a href="">N</a>
      <a href="">O</a>
      <a href="">P</a>
      <a href="">Q</a>
      <a href="">R</a>
      <a href="">S</a>
      <a href="">T</a>
      <a href="">U</a>
      <a href="">V</a>
      <a href="">W</a>
      <a href="">X</a>
      <a href="">Y</a>
      <a href="">Z</a>
      <a href="">More</a>
      | Browse by country
    </div>
  </div>
  <div class="col-lg-10 offset-lg-1">
    <hr>
  </div>
  <div class="col-lg-2 offset-lg-1 title">
    Genral
  </div>
  <div class="col-lg-5 offset-lg-3 title">
    Businuss Solutions
  </div>
  <div class="col-lg-5 offset-lg-1 title directory">
    Sign Up | Help Center | About | Press | Blog | Careers | Developers
  </div>
  <div class="col-lg-5 title directory">
  Talent | Marketing | Sales | Learning
  </div>
  <div class="col-lg-2 offset-lg-1 title">
    <br>
    Browse LinkedIn
  </div>
  <div class="col-lg-5 offset-lg-3 title">
    <br>
    Directories
  </div>
  <div class="col-lg-5 offset-lg-1 title directory">
    Influencers | Jobs | Mobile | ProFinder | Learning
  </div>
  <div class="col-lg-5 title directory">
    Members | Jobs | Pulse | Topics | Companies | Salaries | Universities | Titles |
  </div>
  <div class="col-lg-5 offset-lg-1 title directory">
  </div>
  <div class="col-lg-5 title directory">
    Peoples | Top Jobs
  </div>
  <div class="col-lg-10 offset-lg-1">
    <hr>
  </div>
  <div class="col-lg-10 offset-lg-1 title directory">
    <p>LinkedIn © 2017  User Agreement  Privacy Policy   Community Guidelines   Cookie Policy   Copyright Policy   Guest Controls Language</p>
  </div>
</div>
