<div class="main">
  <form class="reg-form">
    <h2 class="title">Be great at what you do</h2>
    <h3 class="title subtitle">Get started - it's free.</h3>
    <label>First name</label>
    <input type="text">
    <label>Last name</label>
    <input type="text">
    <label >Email or phone number</label>
    <input type="text">
    <label>Password (6 or more characters)</label>
    <input type="password">
    <span class="agreement">
      By clicking Join now, you agree to the LinkedIn
       User Agreement,Privacy Policy, and Cookie Policy.
     </span>
     <input type="submit" value="Join now">
  </form>
</div>
