<div class="header container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <div class="col-lg-9 offset-lg-3">
        <img alt="LinkedIn" src="https://static.licdn.com/sc/h/95o6rrc5ws6mlw6wqzy0xgj7y">
      </div>
    </div>
    <div class="col-lg-7 offset-lg-3">
      <form action="">
        <input class="form-input" type="text" placeholder="Email or phone number" autofocus="autofocus">
        <input  class="form-input" type="password"   placeholder="Password">
        <button class="form-submit">Sign in</button>
        <a class="forgot-password" href="">Forgot password?</a>
      </form>
    </div>
  </div>
</div>
